#PanelContainer {
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
    align-items: flex-start;
    flex-wrap: wrap;
    
}
#VirticalStacker {
    display: flex;
    flex-direction: column;
}

.HorizontalStacker {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;
}
.TypeImage {
    width: 48%;
    height:auto;
    padding:2px;
}
.Panel {
    border: 1px solid;
    border-radius: 30px;
    padding: 20px;
    background-color: #20204a;
    width: 30%;
    align-items: center;
    text-align: center;
    color: white;
}
.Panel {
    border: 1px solid;
    border-radius: 30px;
    padding: 20px;
    background-color: #20204a;
    width: 30%; /* multiple per row */
    align-items: center;
    text-align: center;
    color: white;
}

/* small screens (mobile) */
@media (max-width: 768px) {
    .Panel {
        width: 100%; /* one panel per row */
    }
}
.InnerPanel {
    background-color: #2c2c63;
    border: 2px solid #39398f;
    text-align: center;
    color: white;
    font-weight: bold;
    letter-spacing: 1.5px;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    display: flex;
    margin:0px 0px 2px 0px;
}
.AbilityPanel {
    background-color: #2c2c63;
    border: 2px solid #39398f;
    text-align: left;
    color: white;
    font-weight: bold;
    letter-spacing: 1.5px;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    width: 60%;
    padding: 2px;
}
#HeightMetricPanel{
    width: 60%;
}
#WeightMetricPanel {
    width: 60%;
}
#bannerImage {
    width: 100%;
    height: auto;
    cursor: pointer;
}
#PokemonName{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: white;
    width: auto;
}
.TitleText {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
    width: auto;
}
.text {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: auto;
}
.abilityText {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color: white;
    width: auto;
}
    .abilityText:hover {
        transform: scale(1.05);
        background-color: oldlace;
    }
#PokemonPortrait {
    width: 100%;
    margin: 0 auto;
}
.stat-container {
    margin: 8px 0;
    
}

.stat-label {
    width: 20%;
    display: block;
    font-weight: bold;
    margin: 4px;
}

.stat-bar {
    flex:1;
    width: 100%;
    height: 20px;
    background: #eee;
    border-radius: 10px;
    overflow: hidden;
}

.stat-fill {
    height: 100%;
    background: linear-gradient(to right, #4CAF50, #81C784);
    text-align: right;
    padding-right: 6px;
    line-height: 20px;
    color: white;
    font-size: 12px;
    border-radius: 10px 0 0 10px;
}
.cryButton {
    background-color: #2c2c63;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
    .cryButton:hover {
        background-color: #39398f;
        transform: scale(1.05);
    }